
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Century Gothic"
}

H1, H2, H3, H4, H5, H6 {
    margin: 0;
    padding: 0;
}

.content {
    background: #d3d3d3;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    margin: 0;
    text-align: center;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    min-height: 800px;
}

table {
    font-family: 'Helvetica';
    text-transform: none;
    padding: 15px;
    margin: 15px;
    border: 2px solid #555;
}

thead, tbody {
    border: 1px solid #555;
}

td, th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #555;
}

tr {
    border-bottom: 1px solid #555;
}

.property {
    width: 20%;
    text-align: left;
}

.description {
    width: 80%;
    text-align: left;
}





.blue-background {
    background-color: cornflowerblue;
}

.blue-foreground {
    color: cornflowerblue;
}

.green-background {
    background-color: #008000;
}

.green-foreground {
    color: #008000;
}

.orange-background {
    background-color: #d2691e;
}

.orange-foreground {
    color: #d2691e;
}

.purple-background {
    background-color: #483d8b;
}

.purple-foreground {
    color: #483d8b;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}